body {background-color:#0F0F1F;color:#EDEEFF;font-family:sans-serif;}
h1, h2, h3 {color:#EDEEFF;font-family:serif;}
h1 {text-align:center;padding:10px;background-color:#292A4B;}
h2, h3 {clear:left;margin-left:10px;margin-bottom:10px;}
table {color:#EDEEFF;padding:5px;margin:20px;padding-top:0px;margin-top:0px;}
.conttable {background-color:#292A4B;border:1px solid #EDEEFF;float:left;
    padding:5px;margin:20px;padding-top:0px;margin-top:0px;}
table, tr, th, td {border:1px solid #EDEEFF;border-collapse:collapse;}
th, td {padding-left:7px;padding-right:7px;padding-top:2px;padding-bottom:2px;}
.theader {font-size:18px;background-color: #292A4B;}
.teven {background-color:#00001F;}
.todd {background-color:#0F0F2F;}
.tnope {display:none;}
.tunfinished {background-color:#202020;color:#9999A5;}
a:link {color:#EDEEFF;}
a:visited {color:#BEBECA;}
a:hover {color:#9999A5;}
a:active {color:#7F7FFF;}
var {background-color:rgba(255,255,255,10%);padding:0px 2px;
    border-radius:5px;color:#ff7f7f;}
span.tag {background-color:rgba(255,255,255,10%);padding:0px 2px;
    border-radius:5px;color:#7fff7f;}
span.tag::before {content:"<";}
span.tag::after {content:">";}